
<div class="wrapper">

    <!--=================================
     preloader -->
     
    
    
    <!--=================================
     preloader -->
    
     <!--=================================
     login-->
    
    <section class="height-100vh d-flex align-items-center page-section-ptb login" style="background-image: url(../../../assets/images/bg.jpg);background-size: contain;" >
      <div class="container">
         <div class="row justify-content-center no-gutters vertical-align">
           <div class="col-lg-4 col-md-6 login-fancy-bg bg" style="background-image: url(../../../assets/images/loginnjpg.jpg);">
             <div class="login-fancy">
              <h2 class="text-white mb-20">Hello world!</h2>
              <p class="mb-20 text-white">Create tailor-cut websites with the exclusive multi-purpose responsive template along with powerful features.</p>
              <ul class="list-unstyled  pos-bot pb-30">
                <li class="list-inline-item"><a class="text-white" href="#"> Terms of Use</a> </li>
                <li class="list-inline-item"><a class="text-white" href="#"> Privacy Policy</a></li>
              </ul>
             </div> 
           </div>
           <div class="col-lg-4 col-md-6 bg-white">
            <div class="login-fancy pb-40 clearfix" [formGroup]="LoginForm">
            <h3 class="mb-30">Sign In To Admin</h3>
             <div class="section-field mb-20" >
              <div class="alert alert-danger alert-dismissible fade show" *ngIf="showError" role="alert">
                <strong>The Email Or Password Is Not Valid</strong> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
                 <label class="mb-10" for="name">User name* </label>
                   <input id="name" class="web form-control" formControlName="email" type="text" placeholder="User name" name="web">
                </div>
                <div class="section-field mb-20">
                 <label class="mb-10" for="Password">Password* </label>
                   <input id="Password" class="Password form-control" formControlName="password" type="password" placeholder="Password" name="Password">
                </div>
                <div class="section-field">
                  <div class="remember-checkbox mb-30">
                 
                     <a href="password-recovery.html" class="float-right" >Forgot Password?</a>
                    </div>
                  </div>
                  <button    type="button" class="btn btn-success" [disabled]="LoginForm.invalid" (click)="login()" >
                    <span>Log in</span>
                    <i class="fa fa-check" style="    margin-left: 5px;"></i>
                 </button>
              </div>
            </div>
          </div>
      </div>
    </section>
    
    <!--=================================
     login-->
      
    </div>
    